body {
    margin: 0;

    padding: 0;

     background-color: #f0f2f5;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    height: 100vh;

}

.container {

    text-align: center;
}

.login-box{
   background: #fff;

   padding: 20px 20px 30px;

   border-radius: 8px;

   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

   width: 300px;

   margin: auto;

}



input[type="text"],

input[type="password"] {

    width:100%;

    padding: 12px;

    margin: 8px 0;

    box-sizing: border-box;

    border: 1px solid #ddd;

    border-radius: 5px;

    font-size: 14px
    
}

.login-btn {

    width: 100%;

    padding: 12px;

    background-color: #1877f2;

    color: white;
    
    font-size: 16px;

    font-weight:bold;

    border-radius: 5px;

    cursor: pointer;

    margin-top: 5px;

}

.login-btn:hover {

  background-color: #166fe5;

}

.forgot {

  display: block;

  color: rgb(0, 68, 255);

  margin: 12px 0;

  font-size: 14px;

  text-decoration: none;

}
    
hr {

  margin: 20px 0;

  border: none;

  border-top: 1px solid #ddd;

}

.create-btn {
  background-color: #42d72a;

  color: white;

  font-size: 16px;

  padding: 12px;

  border: none;

  border-radius: 5px;

  width: 60%;

  cursor: pointer;

}

.create-btn:hover {

  background-color: #36a420;

}

.bottom-text {

  margin-top: 20px;

  font-size: 14px;

  color: #1c1e21;

}











  r